<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.samplekiosk">

    <uses-sdk android:minSdkVersion="12" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleKiosk"
        tools:targetApi="31">
        <activity
            android:name=".FindingMenuActivity"
            android:exported="false" />

        <service
            android:name=".UsbService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".NormalActivity.PopUpOrderActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".NormalActivity.NormalActivity"
            android:exported="false" />
        <activity
            android:name=".OldActivity.OldActivity"
            android:exported="false" />
        <activity
            android:name=".NormalActivity.OrderSheet"
            android:exported="false" />
        <activity
            android:name=".LoopActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
    </application>

</manifest>